![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 09a - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [33]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [35]:
type(lista_1)

list

In [37]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [39]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [41]:
type(lista_2)

list

In [43]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [45]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [47]:
type(lista_3)

list

In [49]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [51]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [53]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

In [55]:
item1

23

In [57]:
type(item1)

int

In [59]:
type(item3)

str

In [61]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [63]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [66]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [68]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [72]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [74]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [77]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [79]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [81]:
# Deletando um item específico da lista
del lista_2[3]

In [83]:
# Imprimindo o item com a lista alterada
lista_2

['arroz', 'frango', 'chocolate']

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [85]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [87]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [89]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [91]:
a

[1, 2, 3]

In [93]:
a[1]

2

In [95]:
listas[0][1]

2

In [ ]:
a

In [ ]:
b = a[0]

In [105]:
b

NameError: name 'b' is not defined

In [107]:
list1 = listas[1]

In [109]:
list1

[10, 15, 14]

In [111]:
valor_1_0 = list1[0]

In [113]:
valor_1_0

10

In [115]:
valor_1_2 = list1[2]

In [117]:
valor_1_2

14

In [119]:
list2 = listas[2]

In [121]:
list2

[10.1, 8.7, 2.3]

In [123]:
valor_2_0 = list2[0]

In [125]:
valor_2_0

10.1

#### Operações com Listas

In [128]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [130]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [132]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [134]:
a

1

In [136]:
b = listas[1][2]

In [138]:
b

14

In [140]:
c = listas[0][2] + 10

In [142]:
c

13

In [144]:
d = 10

In [146]:
d

10

In [148]:
e = d * listas[2][0]

In [150]:
e

101.0

In [152]:
lista_2

['arroz', 'frango', 'chocolate']

In [154]:
lista_3 = ["batata", "cenoura", "beterraba"]

In [156]:
lista_3

['batata', 'cenoura', 'beterraba']

#### Concatenando Listas

In [ ]:
lista_s1 = [34, 32, 56]

In [ ]:
lista_s1

In [ ]:
lista_s2 = [21, 90, 51]

In [ ]:
lista_s2

In [ ]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [ ]:
lista_total

### Operador in

In [158]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [160]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [162]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [ ]:
lista_s1.

![Listas](listas.jpg)

In [164]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [166]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [168]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [170]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [172]:
# Criando uma lista
lista_formacoes_dados = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [174]:
lista_formacoes_dados

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [ ]:
lista_formacoes_dados.

In [176]:
# Adicionando um item à lista
lista_formacoes_dados.append("Engenheiro de IA")

In [178]:
lista_formacoes_dados

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [180]:
lista_formacoes_dados.append("Engenheiro de IA")

In [182]:
lista_formacoes_dados

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [184]:
lista_formacoes_dados.count("Engenheiro de IA")

2

In [186]:
lista_formacoes_dados.remove("Engenheiro de IA")

In [188]:
lista_formacoes_dados

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [190]:
# Criando uma lista vazia
a = []

In [192]:
print(a)

[]

In [194]:
type(a)

list

In [195]:
a.append(10)

In [198]:
a

[10]

In [200]:
a.append(50)

In [202]:
a

[10, 50]

In [204]:
old_list = [1,2,5,10]

In [206]:
new_list = []

In [208]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [212]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

Digite um valor (-1 para sair):  5
Digite um valor (-1 para sair):  -1

[5]

In [214]:
new_list

[1, 2, 5, 10]

In [216]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [218]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [221]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [223]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [225]:
cidades.insert(2, 110)

In [229]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [231]:
# Remove um item da lista
cidades.remove(110)

In [233]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [235]:
# Reverte a lista
cidades.reverse()

In [237]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [241]:
x = [3, 4, 2, 1]

In [243]:
x

[3, 4, 2, 1]

In [245]:
# Ordena a lista
x.sort()

In [247]:
x

[1, 2, 3, 4]

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [261]:
lista = []
for i in range(10):
    aux = int(input("Digite um valor inteiro: "))
    lista.append(aux)

lista.reverse()
print(lista)

Digite um valor inteiro:  1
Digite um valor inteiro:  2
Digite um valor inteiro:  3
Digite um valor inteiro:  4
Digite um valor inteiro:  5
Digite um valor inteiro:  6
Digite um valor inteiro:  7
Digite um valor inteiro:  8
Digite um valor inteiro:  9
Digite um valor inteiro:  10

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [ ]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

In [ ]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

## Fim da Aula 09a